.header-container {
    background-color: var(--headerColor);
    width: 100%;
    height: 500px;
    background-image: url('../images/header-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-container::after {
    content: "";
    width: 200px;
    height: 100px;
    background-color: var(--whiteColor);
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -50px;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}
.header-container > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.header-container > nav ul {
    position: relative;
}
.header-container > nav ul li {
    float: left;
}
.header-container > nav ul li a{
    display: block;
    color: var(--whiteColor);
    letter-spacing: 1.5px;
    font-size: 20px;
    padding: 20px;
}
.header-container > nav ul li a:hover{
    background-color: var(--headerColor);
}
.burger-menu {
    display: none;
    padding: 20px;
    float: left;
    cursor: pointer;
}
.burger-menu > .menu {
    position: relative;
    display: block;
    background-color: var(--whiteColor);
    width: 24px;
    height: 3px;
}
.burger-menu > .menu::after, .burger-menu .menu::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--whiteColor);
    display: block;
    position: absolute;
    transition: all 0.8s;
}
.burger-menu .menu::before {
    top: 6px;
}
.burger-menu .menu::after {
    top: 12px;
}
.burger-menu:hover {
    background-color: var(--headerColor);
}
.header-container .btn-order-online {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
}
.btn {
    padding: 12px 20px;
    border: 1px solid var(--ddColor);
    border-radius: 3px;
    cursor: pointer;
}
.btn-rad-100 {
    border-radius: 100px;
}
.btn-outline-warn {
    background-color: var(--whiteColor);
}
.btn-outline-warn:hover {
    background-color: var(--headerColor);
    color: var(--whiteColor)
}
.animate-opacity {
    animation: animate_content 2s linear 0s;
}
.burger-menu-toggled {
    padding: 20px;
    float: left;
    cursor: pointer;
    display: none;
}
.burger-menu-toggled > .menu {
    display: block;
    width: 24px;
    height: 3px;
    position: relative;
    background-color: transparent;
}
.burger-menu-toggled > .menu::after {
    content: "";
    width: 24px;
    height: 3px;
    background-color: var(--whiteColor);
    position: absolute;
    transform: rotate(45deg);
    transition: all 0.8s;
}
.burger-menu-toggled > .menu::before {
    content: "";
    width: 24px;
    height: 3px;
    background-color: var(--whiteColor);
    position: absolute;
    transform: rotate(-45deg);
    transition: all 0.8s;
}
.order-list {
    width: auto;
    height: auto;
    background-color: var(--successColorColor);
    padding: 5px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--whiteColor);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
@keyframes animate_content {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .header-container > .btn-order-online {
        width: auto;
        margin-top: 50px;
    }
    .header-container nav {
        flex-direction: column;
    }
    .header-container > nav ul li {
        float: none;
    }
    .header-container > nav ul{
        display: none;
    }
    .burger-menu, .burger-menu-toggled {
        display: block;
    }
    .header-container::after {
        content: "";
        width: 0;
        height: 0;
    }
}

@media screen and (max-height: 650px) {
    .header-container {
        position: relative;
    }
    .header-container::after {
        content: "";
        position: absolute;
        bottom: 0;
        margin-bottom: -50px;
        /* display: none; */
    }
}