:root {
    --ddColor: #ddd;
    --whiteColor: #fff;
    --headerColor: #eabd36;
    --darkColor: #000;
    --successBorderColor: #01ce9b;
    --successColorColor: #01ce9b;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1.5px;
}
.container {
    padding: 20px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    font-size: 16px;
}
.text-capitalize {
    text-transform: capitalize;
}
.content-w-500 {
    width: 500px;
}
.mg-c {
    margin: 0 auto;
    text-align: center;
}
.mg-tp-300 {
    margin-top: 300px;
}
.footer {
    margin-top: 50px;
    background-color: var(--darkColor);
    padding: 20px;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-content > .special-thanks > h3, .footer-content > .my-projects > h3 {
    background-color: var(--whiteColor);
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.footer-content ul li{
    padding: 10px 0;
    text-transform: capitalize;
}
.footer-content ul li a {
    color: var(--whiteColor);
}
.footer-content ul li a:hover {
    color: var(--ddColor);
}