section.container {
    animation: animate_order_form 1s linear 0s;
    transition: all 1s;
}
.order-online-content {
    background-color: var(--headerColor);
    padding: 10px;
    position: relative;
    box-shadow: 0 0 5px 3px var(--ddColor);
}
form > div > * {
    display: block;
}
form > div > input[type="text"] {
    width: 100%;
    border: 1px solid var(--ddColor);
    padding: 12px 12px;
    border-radius: 100px;
}
form > div > label {
    margin: 10px 0;
}
form > input[type="button"] {
    margin-top: 10px;
    width: 100%;
    border: 1px solid var(--successColorColor);
    background-color: var(--whiteColor);
    font-weight: 600;
    letter-spacing: 1.5px;
}
form > input[type="button"]:hover {
    background-color: var(--successColorColor);
    color: var(--whiteColor)
}

@keyframes animate_order_form {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
    }
}