.order-online-content {
    background-color: #f4cf61;
    padding: 10px;
    position: relative;
    animation: fadeIT linear 1s;
}
.order-online-content::after::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: red;
    right: 0;
    bottom: 0;
    margin-bottom: -50px;
    border-top-right-radius: 30%;
    border-top-left-radius: 100%;
}
.order-online-content > form {
    width: 700px;
    margin: 0 auto;
    padding: 10px;
}
.order-online-content > form > div * {
    display: block;
}
.order-online-content > form label {
    margin: 5px;
}
.order-online-content > form input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--ddColor);
    border-radius: 3px;
}
.order-online-content > form .btn {
    margin-top: 10px;
}

@keyframes fadeIT {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
    }
}